# Database
DB_HOST='[host]'
DB_PORT='[port]'
DB_USER='[user]'
DB_PASSWORD='[password]'
DB_NAME='[name]'
DB_SSLMODE='[disable/enable]'

# HTTP
HTTP_ADDR='[ardress:port]'

# Logging
LOG_LEVEL='[info/warn/error/debug]'

# Import
RUN_IMPORT='[true/false]'
IMPORT_FILE=/data/sample.csv
IMPORT_WORKERS='[recommend: 6]'
IMPORT_BATCH_SIZE='[recommend: 2000]'
IMPORT_LIMIT='[recommend: 0]'

# Cluster
RUN_CLUSTER='[true/false]'
CLUSTER_COUNT='[recommend: 64]'
CLUSTER_ITERS='[recommend: 10]'
CLUSTER_WORKERS='[recommend: 11]'
CLUSTER_LIMIT='[recommend: 0]'
CLUSTER_BATCH_SIZE='[recommend: 5000]'