version: "3.9"

services:
  database:
    image: pgvector/pgvector:pg16
    container_name: embed-database
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5438:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [
        "CMD-SHELL",
        "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""
      ]
      interval: 5s
      timeout: 5s
      retries: 3

  migrate:
    image: "migrate/migrate:latest"
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./db/migrations:/db/migrations
    command: [
      "-path",
      "/db/migrations",
      "-database",
      "postgres://${DB_USER}:${DB_PASSWORD}@database:5432/${DB_NAME}?sslmode=${DB_SSLMODE}",
      "up"
    ]

  service:
    build: .
    container_name: embed-service
    depends_on:
      migrate:
        condition: service_completed_successfully
      database:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8080:8080"


volumes:
  pgdata:
